{% extends "index.html" %}

{% block content %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Answers on questions</th>
                <th scope="col">Answers priority</th>
            </tr>
        </thead>

        <tbody>
        {% for user in answers %}
            <tr>
                <td> {{ user.answers_on_questions }} </td>
                <td> {{ user.answers_priority }} </td>
                <td>
                    <a href="/edit_answer/{{user.answers_on_questions }} " type="button" class="btn btn-warning" name="btn_edit_answer" data-answers_on_questions="{{user.answers_on_questions}}">Edit</a>
                    <a href="/delete_answer/{{user.answers_on_questions }} " type="button" class="btn btn-danger" name="btn_delete_answer" data-answers_on_questions="{{user.answers_on_questions}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="/new_answers" type="button" class="btn btn-success" name="btn_new_answer">New answer</a></td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}