{% extends "index.html" %}

{% block content %}
    <div class="col-md-6 mx-auto">
        <!-- form card login -->
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">{{form_name}}</h3>
            </div>

            <div class="card-body">
                <form class="form"   method = "POST" >
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.answers_priority.label }}
                        {{ form.answers_priority(class_="form-control") }}

                        {% if form.answers_priority.errors%}
                            <div class="alert alert-danger" role="alert">
                                {% for message in form.answers_priority.errors %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            </div>
                        {%endif%}
                    </div>

                    {{ form.submit(class_="btn btn-success") }}
                </form>
            </div>
            <!--/card-block-->
        </div>
        <!-- /form card login -->
    </div>
{% endblock %}
