{% extends "index.html" %}

{% block content %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Department number</th>
                <th scope="col">Departament name</th>
                <th scope="col">Departament location</th>
            </tr>
        </thead>

        <tbody>
            {% for user in departaments %}
            <tr>
                <td> {{user.department_number }} </td>
                <td> {{user.departament_name}} </td>
                <td> {{user.departament_location}} </td>
                 <td>
                    <a href="/edit_departments/{{user.department_number}}"
                       type="button"
                       class="btn btn-warning"
                       name="btn_edit_department"
                       data-departaments_id="{{user.department_number}}"
                    >
                        Edit
                    </a>

                    <a href="/delete_departments/{{user.department_number}}"
                       type="button"
                       class="btn btn-danger"
                       name="btn_delete_department"
                       data-departaments_id="{{user.department_number}}"
                    >
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td> <a href="/new_departament" type="button" class="btn btn-success" name="btn_new_departament">New Department</a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}