{% extends "index.html" %}

{% block content %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Form name</th>
                <th scope="col">Questions</th>
            </tr>
        </thead>

        <tbody>
            {% for user in forms %}
            <tr>
                <td> {{ user.form_name }} </td>
                <td> {{ user.questions }} </td>
                <td>
                    <a href="/edit_form/{{user.form_name}}" type="button" class="btn btn-warning" name="btn_edit_form" data-form_name="{{user.form_name}}">Edit</a>
                    <a href="/delete_form/{{user.form_name}}" type="button" class="btn btn-danger" name="btn_delete_form" data-form_name="{{user.form_name}}">Delete</a>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td> <a href="/new_form" type="button" class="btn btn-success" name="btn_new_holiday">New form</a> </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}