{% extends "index.html" %}

{% block content %}


<div class="col-md-6 mx-auto">
    <!-- form card login -->
    <div class="card rounded-0">
        <div class="card-header">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">
            <form class="form"   method = "post" >
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.subject_matter.label }}
                    {{ form.subject_matter(class_="form-control") }}

                    {% if form.subject_matter.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.subject_matter.errors %}
                                 <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>


                <div class="form-group">
                    {{ form.question.label }}
                    {{ form.question(class_="form-control") }}

                    {% if form.question.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.question.errors %}
                                 <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                {{ form.submit(class_="btn btn-outline-primary") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->
</div>

{% endblock %}
