{% extends "index.html" %}

{% block content %}


<div class="col-md-6 mx-auto">
    <!-- form card login -->
    <div class="card rounded-0">
        <div class="card-header">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">
            <form class="form"  action = "/{{action}}" method = "post" >
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class_="form-control") }}

                    {% if form.email.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.email.errors %}
                                 <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.name_student.label }}
                    {{ form.name_student(class_="form-control") }}

                    {% if form.name_student.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.name_student.errors %}
                                 <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.status_at_the_departament.label }}
                    {{ form.status_at_the_departament(class_="form-control") }}

                    {% if form.status_at_the_departament.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.status_at_the_departament.errors %}
                                 <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.grade_at_the_departament.label }}
                    {{ form.grade_at_the_departament(class_="form-control") }}

                    {% if form.grade_at_the_departament.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.grade_at_the_departament.errors %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.expected_grade_point.label }}
                    {{ form.expected_grade_point(class_="form-control") }}

                    {% if form.expected_grade_point.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.expected_grade_point.errors %}
                                 <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.mood.label }}
                    {{ form.mood(class_="form-control") }}

                    {% if form.mood.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.mood.errors %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.subject.label }}
                    {{ form.subject(class_="form-control") }}

                    {% if form.subject.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.subject.errors %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                <div class="form-group">
                    {{ form.answer.label }}
                    {{ form.answer(class_="form-control") }}

                    {% if form.answer.errors%}
                        <div class="alert alert-danger" role="alert">
                            {% for message in form.answer.errors %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        </div>
                    {%endif%}
                </div>

                {{ form.submit(class_="btn btn-outline-primary") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->
</div>

{% endblock %}
